MFP_DetRate_Model6_TrophicGroupsP-G5.rda
MFP_DetRate_6_Model.rda
MFP_DetRate_Model10ele.rda
MFP_DetRate_Model6.herbivores.rda
MFP_DetRate_Model6.largecarnivores.rda
MFP_DetRate_Model6.megaherbivores.rda
MFP_DetRate_Model6.mesocarnivores.rda
MFP_DetRate_Model6ele.rda
MFP_DetRate_Model7ele.rda
MFP_DetRate_Model8ele.rda
MFP_DetRate_Model9ele.rda
